[submodule "3 веб/web1"]
	path = 3 веб/web1
	url = https://github.com/Antichnoste/web1.git
[submodule "3 веб/web2"]
	path = 3 веб/web2
	url = https://github.com/Antichnoste/web2.git
[submodule "3 веб/web3"]
	path = 3 веб/web3
	url = https://github.com/Antichnoste/web3.git
[submodule "3 веб/web4"]
	path = 3 веб/web4
	url = https://github.com/Antichnoste/web4.git
