[submodule "3 Веб/web1"]
	path = 3 Веб/web1
	url = git@github.com:Antichnoste/web1.git
[submodule "3 Веб/web2"]
	path = 3 Веб/web2
	url = git@github.com:Antichnoste/web2.git
[submodule "3 Веб/web3"]
	path = 3 Веб/web3
	url = git@github.com:Antichnoste/web3.git
[submodule "3 Веб/web4"]
	path = 3 Веб/web4
	url = git@github.com:Antichnoste/web4.git
[submodule "3-4 Физика/3 сем"]
	path = 3-4 Физика/3 сем
	url = git@github.com:Antichnoste/Physics_3.git
